* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-size: 14px;
}
body {
	width: 100wv;
	padding: 1rem;
}

img {
	width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}