* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body {
	width: 100wv;
	font-size: 14px;
	padding: 2rem;
	font-family: "Young Serif", serif;
}

img {
	width: 100%;
}

.highlight {
	background-color: lightpink;
	margin: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}