:root {
  --hue-vert: hsl(75, 94%, 57%);
  --hue-blan: hsl(0, 0%, 100%);
  --hue-g700: hsl(0, 0%, 20%);
  --hue-g800: hsl(0, 0%, 12%);
  --hue-g900: hsl(0, 0%, 8%);
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* General Styling */

body {
  padding: 1rem;
  color: var(--hue-blan);
  font-size: 14px;
  background: var(--hue-g900);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 1rem auto;
  max-width: 22.5rem;
  background: var(--hue-g800);
  border-radius: 1rem;
}
section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
figure {
  margin: 0 auto;
  width: 25%;
}
img {
  border-radius: 50%;
}
h1 {
  font-size: 1.5rem;
}
p {
  color: var(--hue-vert);
  font-weight: 500;
}
blockquote {
  opacity: .8;
}
button {
  color: var(--hue-blan);
  margin: .5rem;
  padding: 1rem;
  border: none;
  font-weight: 500;
  border-radius: .5rem;
  background: var(--hue-g700);
}