:root {
  /* Hues */
  --hue-white: hsl(0, 0%, 100%);
  --hue-stone-100: hsl(30, 54%, 90%);
  --hue-stone-150: hsl(30, 18%, 87%);
  --hue-stone-600: hsl(30, 10%, 34%);
  --hue-stone-900: hsl(24, 5%, 18%);
  --hue-brown-800: hsl(14, 45%, 36%);
  --hue-rose-800: hsl(332, 51%, 32%);
  --hue-rose-050: hsl(330, 100%, 98%);
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}

html {
	background: var(--hue-stone-100);
}
body {
  max-width: 100%;
  background: var(--hue-white);
	font-size: 14px;
	padding: 2rem;
	font-family: "Young Serif", serif;
}
section {
  margin: 2rem auto;
  border-bottom: .1rem solid var(--hue-stone-150);
}
section:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}
section :last-child {
  margin-bottom: 1rem;
}
img {
	width: 100%;
}
h1 {
  margin: 1rem auto;
}
h2, h3 {
  margin: 1rem auto;
}
h2 {
  color: var(--hue-brown-800);
}
h3 {
  color: var(--hue-rose-800);
}
ul, ol {
  line-height: 2rem;
  padding-left: 1rem;
}
ul::marker, ol::marker {
  color: var(--hue-brown-800);
}
ul li, ol li {
  padding-left: 1rem;
}

table {
  width: 100%;
  text-align: left;
}
th, td {
  line-height: 2rem;
  border-bottom: .1rem solid var(--hue-stone-150);
}
th {
  font-weight: normal;
}
td {
  font-weight: bold;
  color: var(--hue-brown-800);
}
.highlight {
  margin: 1rem auto;
	background-color: var(--hue-rose-050);
	padding: 1rem;
}
.highlight ul {
  padding: 1rem;
}
.attribution {
  margin: 2rem auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width > 660px) {
  body {
    margin: 1rem auto;
    max-width: 22.5rem;
    border-radius: 1rem;
  }
  img {
    border-radius: 1rem;
  }
}
